{% extends "base.html.twig" %}

{% block main %}
<div class="content clearfix">
    <div class="container">
        <div class="content_title">Portfolio</div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="gallery_thumb">
                    <div class="gallery_thumb_pic">
                        <a href="http://www.ovidiuoltean.com/gallery/portfolio/elle-mexico---nathalia-oliveira/">
                            <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-elle-mexico---nathalia-oliveira-1122.jpg" alt="Elle Mexico *  Nathalia Oliveira">
                        </a>
                    </div>

                    <div class="gallery_thumb_title">
                        <a href="http://www.ovidiuoltean.com/gallery/portfolio/elle-mexico---nathalia-oliveira/">Elle Mexico *  Nathalia Oliveira</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="gallery_thumb">
                    <div class="gallery_thumb_pic">
                        <a href="http://www.ovidiuoltean.com/gallery/portfolio/harpers-bazaar-kz--jasmine-sanders/">
                            <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-harpers-bazaar-kz--jasmine-sanders--1105.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders">
                        </a>
                    </div>

                    <div class="gallery_thumb_title">
                        <a href="http://www.ovidiuoltean.com/gallery/portfolio/harpers-bazaar-kz--jasmine-sanders/">Harper's Bazaar Kz * Jasmine Sanders</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="gallery_thumb">
                    <div class="gallery_thumb_pic">
                        <a href="http://www.ovidiuoltean.com/gallery/portfolio/lui-magazine/">
                            <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-lui-magazine-1097.jpg" alt="Lui magazine">
                        </a>
                    </div>

                    <div class="gallery_thumb_title">
                        <a href="http://www.ovidiuoltean.com/gallery/portfolio/lui-magazine/">Lui magazine</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
