{% extends "AppBundle::base.html.twig" %}

{% block main %}
    <div class="content">
        <div class="container">
            <div class="content_title" style="margin-bottom: 30px;">Harper's Bazaar Kz * Jasmine Sanders</div>

            <div class="pictures_container"><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1106.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1108.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1109.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1114.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1115.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1112.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1113.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1116.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1111.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1110.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div><div class="gallery_picture"><img src="http://www.ovidiuoltean.com/uploads/galleries/big/portfolio-harpers-bazaar-kz--jasmine-sanders-1117.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders"></div></div>

            <div class="content_title" style="margin-top: 60px; margin-bottom: 30px;">Recent work</div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/elle-mexico---nathalia-oliveira/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-elle-mexico---nathalia-oliveira-1122.jpg" alt="Elle Mexico *  Nathalia Oliveira">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/elle-mexico---nathalia-oliveira/">Elle Mexico *  Nathalia Oliveira</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/harpers-bazaar-kz--jasmine-sanders/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-harpers-bazaar-kz--jasmine-sanders--1105.jpg" alt="Harper's Bazaar Kz * Jasmine Sanders">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/harpers-bazaar-kz--jasmine-sanders/">Harper's Bazaar Kz * Jasmine Sanders</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/lui-magazine/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-lui-magazine-1097.jpg" alt="Lui magazine">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/lui-magazine/">Lui magazine</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/monrowe--nykhor-paul/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-monrowe--nykhor-paul-1087.jpg" alt="Monrowe * Nykhor Paul">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/monrowe--nykhor-paul/">Monrowe * Nykhor Paul</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/eugenia-volodina/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-eugenia-volodina-1078.jpg" alt="Eugenia Volodina">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/eugenia-volodina/">Eugenia Volodina</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/departures--cintia-dicker/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-departures--cintia-dicker-1068.jpg" alt="Departures * Cintia Dicker">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/departures--cintia-dicker/">Departures * Cintia Dicker</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/fernanda-liz/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-fernanda-liz-1059.jpg" alt="Fernanda Liz">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/fernanda-liz/">Fernanda Liz</a>
                </div>
            </div>

            <div class="gallery_thumb">
                <div class="gallery_thumb_pic">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/stylist--ribeiro-camila/">
                        <img src="http://www.ovidiuoltean.com/uploads/galleries/small/portfolio-stylist--ribeiro-camila-1058.jpg" alt="Stylist * Ribeiro Camila">
                    </a>
                </div>

                <div class="gallery_thumb_title">
                    <a href="http://www.ovidiuoltean.com/gallery/portfolio/stylist--ribeiro-camila/">Stylist * Ribeiro Camila</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
